---
layout: default
title: Notes
permalink: /notes/
---

<div id="site">
  {% include switch.html %}
  {% include header-nav.html %}
  
  <div class="notes-folder">
    <nav class="breadcrumb">
      <a href="/">Home</a> > notes
    </nav>
    
    <header class="folder-header">
      <h1>Folder: notes</h1>
      <p>{{ site.notes | size }} items under this folder.</p>
    </header>
    
    <div class="notes-search">
      <input type="text" id="notes-search-input" placeholder="Search notes..." class="search-input">
    </div>
    
    <ul class="notes-list">
      {% assign sorted_notes = site.notes | sort: 'date' | reverse %}
      {% for note in sorted_notes %}
        <li class="note-item" data-tags="{{ note.tags | join: ' ' | downcase }}" data-topic="{{ note.topic | downcase }}">
          <div class="note-date">{{ note.date | date: "%b %d, %Y" }}</div>
          <div class="note-info">
            <h3><a href="{{ note.url }}">{{ note.topic }}</a></h3>
            <div class="note-tags">
              {% for tag in note.tags %}
                <a href="/tags/{{ tag | slugify }}/" class="tag">#{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  {% include footer.html %}
  {% include top-button.html %}
</div>
