<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an undergrad student at 
      <a class="underline-link" href="http://nitrr.ac.in/" target="_blank"> NITRR </a> in 5th Semester.

    </p>

    <p>
      I am Data Science Enthusiast, and have previously interned at a startup called <a class="underline-link" href="https://www.unmazer.ai/" target="_blank">unmazer.ai</a>. I am currently working 
      to add more skills to my track. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably ,outside playing football or cricket.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
