<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
     Graduated from NITRR. Currently building at <a class="underline-link" href="https://fold.money/" target="_blank">fold.money</a>. A tool that tells stories about your money. 

    </p>

    <p>
      I am Data Science Enthusiast and have previously worked at various startups building on my skills and meeting a lot of like-minded folks!
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably, infront of my phone binging. I think its time to change my lifestyle 😅 </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
