<section class="section featured-projects">
  <div class="section__title">Hackathon Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://askdoc.herokuapp.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/askdoc.png" alt="" width="400" height="200">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://askdoc.herokuapp.com/" target="_blank">AskDoc</a>
        </div>
        <p>A website which based on symptoms entered by user gives the probable disease he/she may have and recommends nearby hospitals/clinics (within 10 KM).</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/noobknights/emosong" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/emo.PNG" alt=""  width="400" height="200">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/noobknights/emosong" target="_blank">Emosong</a>
        </div>
        <p>This webapp lets user to listen to songs based on realtime emotion detected through mobile camera or web camera and helps our users to interactively chat with similar users matched on the emotion they currently feel.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/noobknights/highlightem" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/high.png" alt=""  width="400" height="200">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/noobknights/highlightem" target="_blank">Highlightem</a>
        </div>
        <p>Chrome extension to highlight relevant items based on your search query.</p>
      </figcaption>
    </div>
  </div>
</section>
