---
layout: default
---

<div id="site">
  {% include switch.html %}
  {% include header-nav.html %}
  
  <div class="note-page">
    <nav class="breadcrumb">
      <a href="/">Home</a> > <a href="/notes/">notes</a>
    </nav>
    
    <article class="note-content">
      <header class="note-header">
        <h1>{{ page.topic }}</h1>
        <div class="note-meta">
          <time>{{ page.date | date: "%B %d, %Y" }}</time>
          <div class="note-tags">
            {% for tag in page.tags %}
              <a href="/tags/{{ tag | slugify }}/" class="tag">#{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      </header>
      
      <div class="note-body">
        {{ page.content | markdownify }}
      </div>
    </article>
  </div>
  
  {% include footer.html %}
</div>
