---
layout: default
---

<div id="site">
  {% include switch.html %}
  {% include header-nav.html %}
  
  <div class="notes-folder">
    <nav class="breadcrumb">
      <a href="/">Home</a> > <a href="/tags/">tags</a>
    </nav>
    
    <header class="folder-header">
      <h1>Tag: #{{ page.tag }}</h1>
      {% assign tagged_notes = site.data.notes | where_exp: "note", "note.tags contains page.tag" %}
      <p>{{ tagged_notes | size }} items with this tag.</p>
    </header>
    
    <ul class="notes-list">
      {% assign sorted_notes = tagged_notes | sort: 'date' | reverse %}
      {% for note in sorted_notes %}
        {% assign slug = note.topic | slugify %}
        <li class="note-item">
          <div class="note-date">{{ note.date | date: "%b %d, %Y" }}</div>
          <div class="note-info">
            <h3><a href="/notes/{{ slug }}/">{{ note.topic }}</a></h3>
            <div class="note-tags">
              {% for tag in note.tags %}
                <a href="/tags/{{ tag | slugify }}/" class="tag">#{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  {% include footer.html %}
</div>
